@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var course_categories = (List<Admin.Models.ECourseCategory>)ViewBag.course_categories;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="~/Course/CreateNewCourse">
                <div class="form-group">

                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="..." required name="CourseName" value="">
                            <small><span style="color:red;">*</span> Course Name</small>
                        </div>
                        <div class="col-md-4">
                            <input type="number" min="1" class="form-control" placeholder="1" required name="CourseDurationHours" value="1">
                            <small><span style="color:red;">*</span> Course Duration (hours)</small>
                        </div>
                        <div class="col-md-4">
                            <input type="number" min="1" class="form-control" placeholder="1" required name="CourseStudyTimeHours" value="1">
                            <small><span style="color:red;">*</span> Allocated Study Time (hours)</small>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="" required name="StartDate" value="" id="StartDate">
                            <small><span style="color:red;">*</span> Start Date</small>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="" required name="EndDate" value="" id="EndDate">
                            <small><span style="color:red;">*</span> End Date</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <textarea name="CourseDescription" class="form-control"></textarea>
                            <small><span style="color:red;">*</span> Description</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <textarea name="CourseAudience" class="form-control"></textarea>
                            <small><span style="color:red;">*</span> Audience (who this course is for)</small>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <textarea name="CourseObjectives" class="form-control"></textarea>
                            <small><span style="color:red;">*</span>Course Objectives (one per line)</small>
                        </div>
                    </div>



                </div>
                <div class="form-group">
                    <select class="form-control" placeholder="..." required name="ECourseCategoryIdFk">
                        @foreach (var item in course_categories)
                        {
                            <option value="@item.Id">@item.Category</option>
                        }
                    </select>
                    <small><span style="color:red;">*</span> Course Category</small>
                </div>

                <div class="form-group">
                    <input type="checkbox" name="Published" value="true"/>
                    <small>Published</small>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

<script>
    $('#StartDate').Zebra_DatePicker({
        format: 'Y-m-d',
        direction: true,
        pair: $('#EndDate')
    });
    $('#EndDate').Zebra_DatePicker({
        format: 'Y-m-d',
        direction: true,
    });
</script>