@inherits LayoutComponentBase
@inject IJSRuntime js
@inject State state

<div class="page-wrapper default-theme sidebar-bg bg1 toggled">

    <div id="mobile-nav"></div>
    <nav class="_nav active">
        <a href="/" style="color:black;font-size:22px;text-decoration:none;margin:10px;">
            <i title="back" class="fas fa-sign-out-alt flip_180"></i>
            Back
        </a>
        <hr />
        <h3 style="margin:10px;color:black;">
            <a>
                Course Material
            </a>
        </h3>
        <div class="sidebar-item sidebar-header d-flex flex-nowrap" style="margin:10px;">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="assets/img/user.jpg" style="height:60px;width:auto;" alt="User picture">
            </div>
            <div class="user-info">
                <span class="user-name">
                    <AuthorizeView>
                        @context.User.Identity.Name
                    </AuthorizeView>
                </span><br />
                <span class="user-role">Candidate</span><br />
                <span class="user-status">
                    <i class="fa fa-circle" style="color:limegreen;font-size:10px!important;"></i>
                    <span>Online</span>
                </span>
            </div>
        </div>
        <ul class="menu">
            <li>
                <a href="/Course/@state?.course?.Id">
                    <i class="fa fa-book"></i>
                    <span class="menu-text">Introduction</span>
                </a>
            </li>
            <li>
                <a href="/Reports/@state?.course?.Id">
                    <i class="fa fa-calendar"></i>
                    <span class="menu-text">Reports</span>
                </a>
            </li>
            <li>
                <a href="/Exam/@state?.course?.Id">
                    <i class="fa fa-folder"></i>
                    <span class="menu-text">Exam</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- page-content  -->
    <main class="page-content pt-2">
        @*<div id="overlay" class="overlay"></div>*@
        <div class="container-fluid p-5">
            @Body
        </div>
    </main>

</div>

@code
{

    private BlazorAppClient.Shared.Models.MCourse course;
    protected override async Task OnAfterRenderAsync(bool first_render)
    {
        if (first_render)
            await js.InvokeAsync<string>("initTree");
    }


    protected override void OnInitialized()
    {
        state.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        state.OnChange -= StateHasChanged;
    }


}