@layout MainLayoutMenu
@page "/About"


<br />

<div class="row row_80_percent">
    <div class="col-md-4">
        <h1>
            Centre for Humanitarian Analytics
        </h1>
        <h3>
            Connecting data, Decision making and Humanitarian response
        </h3>
    </div>
   
</div>



@code {

}
