@layout MainLayoutMenu
@page "/Help"


<br />

<div class="row">
    <div class="col-md-6">
        12th Floor | Cyrex Business Centre | Joina City |

        Cnr. J. Moyo Street/ J. Nyerere Avenue | Harare | Zimbabwe

        Mobile/WhatsApp: +263-772661343 | Landline: +263-242753115

        Website:  |  <a href="www.cha-africa.org">www.cha-africa.org</a>
    </div>
   
</div>



@code {

}
