@{
    var users = (List<Admin.Models.AspNetUsers>)ViewBag.users;
    var company = (Admin.Models.MCompany)ViewBag.company;
}

<table id="dt" class="table tblsm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in users)
        {
            <tr>
                <td title="@item.Email">@item.Email</td>
                <td>
                    <a href="~/Company/EditUser?user_id=@item.Id&company_id=@company.Id" style="color:green;">
                        View
                    </a>
                    |
                    <a href="javascript:void(0);" style="color:red;" onclick="confirm_delete('@item.Id')">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post" action="~/Company/DeleteUser" id="f1">
    <input type="hidden" name="user_id" id="id"/>
    <input type="hidden" name="company_id" value="@company.Id"/>
</form>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this User?',
            buttons: {
                Yes: function () {
                    $("#id").val(id);
                    $("#f1").submit();
                },
                No: function () {
                },

            }
        });

    }

</script>