@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var course_material = (Admin.Models.MCourseMaterial)ViewBag.course_material;
    var course = (Admin.Models.MCourse)ViewBag.course;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="~/" style="color:blue;"> Home </a>
            /   <a href="~/Course/AllCourses" style="color:blue;"> Course - @course.CourseName </a>
            /   <a href="~/CourseMaterial/AllCourseMaterial?course_id=@course.Id" style="color:blue;"> CourseMaterial - @course_material.PageTitle </a>
            /    Questions And Answers
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <a href="~/CourseMaterialQuestionsAndAnswers/CreateQuestionAndAnswer?course_material_id=@course_material.Id" style="color:blue;">New Question</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12" id="data">
            <center>
                <img src="~/assets/img/loader.gif" id="loader" style="height:100px" />
            </center>
        </div>
    </div>
</div>

<script>


    $.ajax({
        type:"get",
        url: "@(Url.Content($"~/CourseMaterialQuestionsAndAnswers/ajaxAllQuestions?course_material_id={course_material.Id}"))",
        success: function (data) {
            $("#data").html(data);
        },
        error: function () {
            alert('Error fetching data, reload page');
        },
        complete: function () {
              $("#loader").hide();
        }
    });


</script>