@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var course = (Admin.Models.MCourse)ViewBag.course;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            Create topic for Course: @course.CourseName
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="~/CourseTopics/CreateTopic">
                <input type="hidden" name="course_id" value="@course.Id" />

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="..." required name="topic_name">
                    <small><span style="color:red;">*</span> Course Topic</small>
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" placeholder="..." required name="sequence"min="0" value="0">
                    <small><span style="color:red;">*</span> Sequence</small>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
    </div>
