@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var course = (Admin.Models.MCourse)ViewBag.course;
    var topic = (Admin.Models.MCourseTopic)ViewBag.topic;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
           Edit topic for Course: @course.CourseName
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="~/CourseTopics/EditCourseTopic">
                <div class="form-group">
                    <input type="hidden" name="topic_id" value="@topic.Id" />
                    <input type="text" class="form-control" placeholder="..." required name="topic_name" value="@topic.Topic">
                    <small><span style="color:red;">*</span> Course Topic</small>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="..." required name="sequence" min="0" value="@topic.Sequence">
                    <small><span style="color:red;">*</span> Sequence</small>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
    </div>
